body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.join-game-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 700px;
}

h1 {
    color: #333;
}

#gameList {
    margin: 20px 0;
}

.game-item {
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game-item:hover {
    background-color: #116ce2;
}

.game-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
}

.game-item h2 {
    margin: 0;
    color: #007BFF;
}

.game-item p {
    margin: 5px 0;
    color: #555;
}

.game-item .player-icons {
    display: flex;
    align-items: center;
}

.game-item .player-icons img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 5px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}